{% extends 'content_base.html.twig' %}
{% block title %}
    {% trans %}Editer un article{% endtrans %}
{% endblock %}
{% block content_body %}


            {{ include('article/_form.html.twig',{
                button_text: 'Mise à jour'
            }) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var msg="<span class=\"invalid-feedback d-block\"><span class=\"d-block\"><span class=\"form-error-icon badge badge-danger text-uppercase\">{% trans from 'validators' %}error{% endtrans %}</span> " +
            "<span class=\"form-error-message\">{% trans from 'validators' %}This value should not be blank.{% endtrans %}</span></span></span>";
        var msg_email_novalid="<span class=\"invalid-feedback d-block\"><span class=\"d-block\"><span class=\"form-error-icon badge badge-danger text-uppercase\">{% trans from 'validators' %}error{% endtrans %}</span> " +
            "<span class=\"form-error-message\">{% trans from 'validators' %}Le format de l'email n'est pas correct{% endtrans %}</span>";
    </script>
    <script src="{{ asset('js/article_form.js') }}"></script>
{% endblock %}