{% extends 'content_base.html.twig' %}
{% block title %}
    {% trans %}Créer un nouvel article{% endtrans %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block content_body %}


        {{ include('article/_form.html.twig',{
            button_text: 'Sauvegarder'
        }) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var msg="<span class=\"invalid-feedback d-block\"><span class=\"d-block\"><span class=\"form-error-icon badge badge-danger text-uppercase\">{% trans from 'validators' %}error{% endtrans %}</span> " +
            "<span class=\"form-error-message\">{% trans from 'validators' %}Cette valeur ne doit pas être vide.{% endtrans %}</span></span></span>";
    </script>
    <script src="{{ asset('js/article_form.js') }}"></script>
{% endblock %}